<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Smoke Test Suite" verbose="0">
    <listeners>
        <listener class-name="ua.ithillel.listeners.Listener"/>
        <listener class-name="ua.ithillel.retry.AnnotationTransformer"></listener>
    </listeners>

    <test name="First test">

        <classes>
            <class name="ua.ithillel.testng.RetryTest"/>
        </classes>
    </test>
</suite>
